<!-- Navigation Bar -->
<div>
  <div class="navbar">
    <div class="navbar-links">
      <a href="#">Men</a>
      <a href="#">Women</a>
      <a href="#">Accessories</a>
      <a href="#">Shoes</a>
      <a href="#">Watch</a>
      <a href="#">Dress</a>
    </div>
  </div>

  <!-- Banner with Background Image -->
  <div class="banner">
    <div class="overlay">
      <h1>Fashion</h1>
      <p>Shop through our latest selection of Fashion</p>
    </div>
  </div>

  <!-- Grid/List View Switcher and Sort Dropdown -->
  <div class="controls">
    <button class="filter-button"><i class="bi bi-funnel"></i> Filter</button>
    <div class="view-icons">
      <div class="alignment">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="alignment">
        <span></span>
        <span></span>
      </div>
      <div class="alignment">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="alignment">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="alignment">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="alignment">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <select class="sort-dropdown">
      <option selected>Featured</option>
      <option value="1">Price: Low to High</option>
      <option value="2">Price: High to Low</option>
      <option value="3">New Arrivals</option>
    </select>
  </div>
</div>

<div class="cards">
  @for (product of ProductData; track $index) {

  <div class="card" id="productCard"  (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="img" style="position: relative">
      <div class="isNew" *ngIf="product.isNew">New</div>

      <div class="discount" *ngIf="product.discountPercent">
        -{{ product.discountPercent }}%
      </div>
      <img src="{{ product.img }}" alt="" />
      <div class="hoverEffect">
        <div class="icons">
          <i class="bi bi-heart box"></i>
          <i class="bi bi-shuffle"></i>
        </div>
        <div class="buttons">
          <button>
            <span>quick view</span>
            <span> <i class="bi bi-eye"></i></span>
          </button>
          <button>
            <span>quick shop</span>
            <span>
              <i class="bi bi-cart3"></i>
            </span>
          </button>
        </div>
        <div class="sizes">
          @for (size of product.sizes; track $index) {
          <span class="size">{{ size }},</span>
          }
        </div>
      </div>
    </div>
    <div class="details">
      <div class="name">{{ product.name }}</div>
      @if (product.discountPercent==0) {

      <div class="price">
        {{ product.price | currency }}
      </div>
      }@else {
      <div class="price">
        <span style="text-decoration: line-through">
          {{ product.price | currency }}
        </span>
        <span style="color: red">{{
          product.price - (product.discountPercent / 100) * product.price
            | currency
        }}</span>
      </div>
      }
      <div class="varients">
        @for (color of product.colors; track $index) {
        <span class="color" [style.background-color]="color"></span>
        }
      </div>
    </div>
  </div>

  }
</div>