/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 2px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.navbar-links a:hover {
  color: #56cfe1;
  transition: 0.3s linear;
}

/* Banner Styles */
.banner {
  background-image: url("https://demo-kalles-4-1.myshopify.com/cdn/shop/collections/4_273f5935-e4ed-4997-a941-fa9cb2053da1.jpg?v=1653613629&width=1512");
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background: rgba(0,
      0,
      0,
      0.5);
  /* Semi-transparent background for readability */
}

/* Controls Styles */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4vh 7vw;
}

.filter-button {
  background: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: .3s linear;
}

.filter-button:hover {
  color: #56CFE0;
}

.view-icons {
  display: flex;
  gap: 10px;
}

.view-icons i {
  font-size: 20px;
  cursor: pointer;
}

.sort-dropdown {
  border-radius: 50px;
  width: 10rem;
  height: 2rem;
  padding: 0 1rem;
}

.alignment {
  display: flex;
  gap: 3px;
  border: 1px solid #878787;
  padding: 2px;

  cursor: pointer;
}

.alignment:first-child {
  flex-direction: column;
  gap: 2px;
}

.alignment span {
  height: 20px;
  display: block;
  width: 10px;
  background: #878787;
  transition: .3s linear;
}

.alignment:first-child span {
  height: 5px;
  width: 20px;
}

.alignment:hover {
  border-color: #222222;
}

.alignment:hover span {
  background-color: #222222;
}

.cards {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr;
}

.card {
  height: 30vh;
  display: flex;
  gap: 3vw;
  top: 0;
  padding: 16px;
  border: 1px solid #0000003b;
  color: RGB(135, 135, 135);
}

.card>div:first-child {
  height: 100%;
}

.card img {
  height: 100%;
  width: unset;
  object-fit: cover;
}

.card .details {
  color: RGB(135, 135, 135);
  margin-top: 0;
  justify-content: center;
}

.card .buttons {
  align-items: center;
  justify-content: center;
}

.cards .buttons>button:first-child {
  color: #56CFE0;
  border: 1px solid #56CFE0;

}

.cards .buttons>button:last-child {
  color: #fff;
  border-color: #56CFE0;
  background: #56CFE0;

}

.activeCol {
  border-color: black;
}

.activeCol span {
  background: black;
}

/* style to show the cards in 1 column */
.alignment:nth-child(2) {
  display: none;
}
.showIn1Column .card .price {
  display: flex;
  gap: 40px;
}  

.showIn1Column .card {
  flex-direction: column;
  height: auto;
  border: none;
}

.showIn1Column .card img {
  height: unset;
  width: 100%;
  object-fit: cover;
}

/* style to show the cards in 2 column */
.showIn2Column {
  grid-template-columns: 1fr 1fr !important;
}

.showIn2Column .card {
  height: 90vh;
  display: block;
  gap: 3vw;
  top: 0;
  padding: 16px;
  border: none;
  color: RGB(135, 135, 135);
}

.showIn2Column .card>div:first-child {
  height: 90%;
}

.showIn2Column img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.showIn2Column .buttons>button:first-child {
  color: black;
  border: none;

}

/* style to show the cards in 3 column */
.showIn3Column {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vh 0;
}

.showIn3Column .card {
  height: 65vh;
  display: block;
  gap: 3vw;
  top: 0;
  padding: 16px;
  border: none;
  color: RGB(135, 135, 135);
}

.showIn3Column .card>div:first-child {
  height: 90%;
}

.showIn3Column img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.showIn3Column .buttons>button:first-child {
  color: black;
  border: none;

}


/* style to show the cards in 4 column */
.showIn4Column {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4vh 0;
}

.showIn4Column .card {
  height: 45vh;
  display: block;
  gap: 3vw;
  top: 0;
  padding: 16px;
  border: none;
  color: RGB(135, 135, 135);
}

.showIn4Column .card>div:first-child {
  height: 90%;
}

.showIn4Column .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.showIn4Column .buttons>button:first-child {
  color: black;
  border: none;

}


/* style to show the cards in 5 column */
.showIn5Column {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 6vh 0;
}

.showIn5Column .card {
  height: 35vh;
  display: block;
  gap: 3vw;
  top: 0;
  padding: 16px;
  border: none;
  font-size: 15px;
  color: RGB(135, 135, 135);
  font-weight: normal;
}

.showIn5Column .card>div:first-child {
  height: 90%;
}

.showIn5Column .details .name {
  font-weight: normal !important;
}

.showIn5Column .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.showIn5Column .buttons>button:first-child {
  color: black;
  border: none;

}

.showIn5Column .buttons button {
  border: none;
  height: 2rem;
  width: 8rem;
}

.showIn5Column .buttons button span:first-child {
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.showIn5Column .buttons button span:last-child {
  top: 4px;
  font-size: 16px;
  height: 2rem;
  width: 8rem;
}


/* style to show the cards in6 column */
.showIn6Column {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 6vh 0;
}

.showIn6Column .card {
  height: 30vh;
  font-size: 14px;
  display: block;
  gap: 3vw;
  top: 0;
  padding: 16px;
  border: none;
  font-weight: normal;
  color: RGB(135, 135, 135);
}

.showIn6Column .card>div:first-child {
  height: 90%;
}

.showIn6Column .details .name {
  font-weight: normal !important;
}

.showIn6Column .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.showIn6Column .buttons>button:first-child {
  color: black;
  border: none;

}


.showIn6Column .buttons button {
  border: none;
  height: 2rem;
  width: 8rem;
}

.showIn6Column .buttons button span:first-child {
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.showIn6Column .buttons button span:last-child {
  top: 4px;
  font-size: 16px;
  height: 2rem;
  width: 8rem;
}


/* filter stles */

.filter {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: #00000054;
  top: 0;
  z-index: 999;
}



.filter-sidebar {
  width: 350px;
  height: 100vh;
  overflow: scroll;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-sidebar>div {
  padding: 15px;
  border-bottom: 1px solid rgb(174 174 174 / 71%);
}

.mdc-slider__input {
  cursor: e-resize;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}

.filter-header h4 {
  font-weight: 500;
  letter-spacing: 1.5px;
}

.filter-header button:hover {
  animation: animateCloseFilterIcon 0.5s ease-in-out;
}

/* @keyframes animateCloseFilterIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.filter-section {
  margin-bottom: 20px;
}

.filter-section h5 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  margin: 15px 0;
}

.filter-section h5::after {
  content: '';
  position: absolute;
  background: black;
  width: 20%;
  height: 2px;
  left: 0;
  bottom: 0;
}

.filter-section label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.875rem;
  transition: .3s linear;
  cursor: pointer;
}

.filter-section label:hover {
  color: #56CFE0;
}

.color-box {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
}

.color-box.black {
  background-color: black;
}

.color-box.blue {
  background-color: blue;
}

.color-box.cyan {
  background-color: cyan;
}

.color-box.green {
  background-color: green;
}

.color-box.grey {
  background-color: grey;
}

.color-box.heart-dotted {
  /* background: url('heart-dotted.png') no-repeat center; */
  width: 20px;
  height: 20px;
  /* Customize more colors */
}

.scrollable {
  max-height: 100px;
  overflow-y: auto;
}

/* input[type="range"] {
  width: 100%;
  margin-bottom: 10px;
} */
mat-slider {
  width: 90%;
}

button.close-btn {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;

}

button.btn-primary {
  padding: 8px 27px;
  color: #000;
  border: 1.5px solid black;
  background: white;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s linear;
}

button.btn-primary:hover {
  background: #56CFE1;
  color: #fff;
  border-color: #56CFE1;
}

.mdc-slider__track--active_fill {
  background-color: #56CFE1 !important;
}

.mdc-slider__thumb-knob {
  background-color: #fff !important;
}

.about-product {
  display: flex;
}

.view-icons .showIn1Column  span {
  width: 20px !important;
}
.showIn1Column .card .about-product span {
  
  width: 15px !important;
}

@media (max-width:768px) {
  .controls {
    margin: 2vw 0;
  }
.card{
  padding:16px 10px !important;
}
  .alignment {
    display: none;
  }

  .alignment:nth-child(1) {
    display: flex;
  }

  .alignment:nth-child(2) {
    display: flex;
  }

  .alignment:nth-child(3) {
    display: flex;
  }

  .navbar-links {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  .sort-dropdown {
    width: 20vw;
    padding: 0 8px;
  }

  .description {
    display: none;
  }

  .about-product {
    flex-direction: column;
    gap: 2vh;
  }

  .buttons {
    align-items: start !important;
  }

  .showIn2Column .card {
    height: auto;
  }

  .showIn2Column .card>div:first-child {
    height: auto;
  }
}