<div class="modal">
  <div class="modal-content">
    <div class="button">
      <button
        class="close-btn"
        (click)="this.shopService.toggleQuickViewModel()"
      >
        <i class="bi bi-x"></i>
      </button>
    </div>
    <div class="image-section">
      <img src="{{ this.imageUrl }}" alt="Product Image" />
      <button class="prev-btn">&#10094;</button>
      <button class="next-btn">&#10095;</button>
    </div>
    <div class="product-details">
      <h2>{{ this.name }}</h2>
      <p>${{ this.price - (this.discountPercent / 100) * this.price }}</p>
      <div class="rating">
        <span>⭐⭐⭐⭐⭐</span>
        <span>(7 reviews)</span>
      </div>
      <p class="description">
        Go kalles this summer with this vintage navy and white striped v-neck
        t-shirt from the Nike.
      </p>
      <div class="varients">
        @if(colors.length){

        <div class="size-section">
          <div class="size">
            <label>Color: </label>
            <span style="text-transform: uppercase">{{
              this.selectedColor
            }}</span>
          </div>
          <div class="size-options">
            @for (color of this.colors; track $index) {

            <button
              class="size-btn"
              style="text-transform: uppercase; font-weight: bold; 
              background-color :{{ color }}"
              (click)="selectColor(color)"
              [class.selectedColor]="color === this.selectedColor"
            >
              <span style="background-color :'{{ this.color }}';"></span>
            </button>

            }
          </div>
        </div>

        }@else{
        <span>No color avaible</span>
        }
      </div>
      <div class="size-options">
        @if(sizes.length){

        <div class="size-section">
          <div class="size">
            <label>SIZE: </label>
            <span style="text-transform: uppercase">{{
              this.selectedSize
            }}</span>
          </div>
          <div class="size-options">
            @for (size of this.sizes; track $index) {

            <button
              class="size-btn"
              style="text-transform: uppercase; font-weight: bold"
              (click)="selectSize(size)"
              [class.selectedSize]="size === this.selectedSize"
            >
              {{ size }}
            </button>

            }
          </div>
        </div>

        }@else{
        <span>No sizes avaible</span>
        }
      </div>
      <div class="addToCart">
        <div>
          <div class="action-buttons">
            <button class="add-to-cart-btn" (click)="addToCart()">
              Add to Cart
            </button>
          </div>
        </div>
        <div>
          <div class="quantity">
            <button (click)="decreaseOrdredQuantity()" class="quantity-btn">
              <i class="bi bi-dash"></i>
            </button>
            <span>{{ ordredQuantity }}</span
            ><button (click)="increaseOrdredQuantity()" class="quantity-btn">
              <i class="bi bi-plus"></i>
            </button>
          </div>

          <div class="more">
            <button
              (click)="GlobalService.addToFav(this.quickViewClickItem || [])"
            >
              <i class="bi-heart"></i>
            </button>
          </div>
          <div class="more">
            <button><i class="bi bi-shuffle"></i></button>
          </div>
        </div>
      </div>
      <div class="buy-now-btn">
        <button>Buy It Now</button>
      </div>
      <div class="extra-info">
        <a href="#">Size Guide</a>
        <a href="#">Delivery & Return</a>
        <a href="#">Ask a Question</a>
      </div>
      <div class="social-icons">
        <span>
          <!-- Suggested code may be subject to a license. Learn more: ~LicenseLog:1624157260. -->
          <i class="bi bi-facebook"></i> </span
        ><span> <i class="bi bi-instagram"></i> </span
        ><span> <i class="bi bi-whatsapp"></i> </span
        ><span>
          <i class="bi bi-tiktok"></i>
        </span>
      </div>
      <div class="view-full-details">
        <button>View Full Details</button>
        <span><i class="bi bi-arrow-right"></i></span>
      </div>
    </div>
  </div>
</div>
