<div id="carousel" class="carousel"  >

<div
  class="carousel-container backgroundImg "
     id="firstSlide"
  style="
    background-image: url('https://demo-kalles-4-1.myshopify.com/cdn/shop/files/slider-01.jpg?v=1652056793&width=1500');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  "
>
  <div class="carousel-slide">
    <div class="carousel-content fristSlide" >
      <span class="carousel-subtitle">SUMMER 2023</span>
      <h1 class="carousel-title">New Arrival Collection</h1><button class="carousel-button">
        <span >Explore Now</span>
      </button>
    </div>
  </div>

  <!-- Pagination Dots -->
</div>
<div
  class="carousel-container backgroundImg"
  id="secondSlide"
  style="
    background-image: url('https://demo-kalles-4-1.myshopify.com/cdn/shop/files/slide3.jpg?v=1682405064&width=2000');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  "
>
  <!-- First Slide -->
 

  <!-- Second Slide (New Image and Text) -->
  <div class="carousel-slide "   >
    <div class="carousel-content secondSlide" style="left: unset;">
      <span class="carousel-subtitle">NEW SEASON</span>
      <h1 class="carousel-title">Lookbook Collection</h1><button class="carousel-button">
        <span style="z-index: 5; position: relative;  font-family: 'Poppins'">Explore Now</span>
      </button>
    </div>
    
  </div>
</div>
<div
  class="carousel-container backgroundImg"
  id="thirdSlide" 
  style="
    background-image: url('https://demo-kalles-4-1.myshopify.com/cdn/shop/files/slide2.jpg?v=1682405064&width=2000');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  "
>
  <!-- First Slide -->
 

  <!-- Second Slide (New Image and Text) -->
  <div class="carousel-slide " >
    <div class="carousel-content thirdSlide">
      <span class="carousel-subtitle">SUMMER SALE</span>
      <h1 class="carousel-title" >Save up to 70%</h1>
      <button class="carousel-button">
        <span style="z-index: 5; position: relative; 
  font-family: 'Poppins';">Explore Now</span>
      </button>
    </div> 
  </div>
</div>

<div class="carousel-pagination">
  <span
    class="dot" 
  ></span>
  <span
    class="dot" 
  ></span>
  <span
    class="dot"
    
  ></span>
</div>
  
</div>