/* Main container for the carousel */
.carousel {
  display: flex;
  width: 300vw;
  overflow: hidden;
  transform: translateX(0);
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  /* Optional background */
}

/* Content on the left */
.carousel-content {
  position: absolute;
  left: 10%;
  top: 30%;
  z-index: 2;
  color: black;
  max-width: 50%;
}

/* Subheader */
.carousel-subtitle {
  font-size: 18px;
  color: #888;
  text-transform: uppercase;
}

/* Main heading */
.carousel-title {
  font-size: 56px;
  font-weight: bold;
  margin: 10px 0;
}

/* Call to action button */
.carousel-button {
  padding: 12px 40px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}

.carousel-button::before {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: .2s linear;
  font-weight: bolder;

  font-family: "Poppins", sans-serif !important;
  z-index: 1;
}

.carousel-button:hover::before {
  height: 100%;
  background-color: #00cdff;
}

.carousel-button span {
  /* style="z-index: 5; position: relative;  font-family: 'Poppins'" */
  z-index: 5;
  position: relative;
  font-family: "Poppins", sans;
  font-weight: bold;


}

/* Pagination dots */
.carousel-pagination {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: black;
}

@media (max-width:900px) {
  .carousel-title {
    font-size: 32px;
  }

  .carousel-button {
    padding: 12px 26px;
    font-size: 14px;
  }

  .fristSlide {
    top: 20%;
  }

  .carousel-content {
    right: 10% !important;
  }

  #firstSlide {
    background-image: url('./slide01.png') !important;
  }

  #secondSlide {
    background-image: url('./slide02.png') !important;
  }

  #thirdSlide {
    background-image: url('./slide03.png') !important;
  }
}