* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid #eee;
}
.animateLogo {
  opacity: 0;
  position: relative;
  left: -11rem;
}
.animateIcon {
  opacity: 0;
  position: relative;
  right: -13rem;
}
.logo h1 {
  font-size: 35px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.logo a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.nav-links ul {
  list-style: none;
  display: flex;
  gap: 3vw;
}

.nav-links li {
  position: relative;
  top: -4rem;
  opacity: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.nav-links a:hover {
  color: #00c6ff;
  transition: color.3s ease-in-out;
}
.md-nav-links {
  /* display: none; */
}
.md-nav-links ul {
  list-style: none;
  display: flex;
  gap: 3vw;
}

.md-nav-links li {
  position: relative;
}

.md-nav-links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.md-nav-links a:hover {
  color: #00c6ff;
  transition: color.3s ease-in-out;
}

.badge {
  display: inline-block;
  padding: 2px 8px;
  font-size: 10px;
  color: white;
  border-radius: 12px;
  margin-left: 5px;
}

.badge.new {
  background-color: #00c6ff;
  position: absolute;
  top: -1vw;
  right: -2vw;
}

.badge.sale {
  background-color: #ff9600;
  position: absolute;
  top: -1vw;
  right: -2vw;
}

.icons {
  display: flex;
  gap: 20px;
}

.icon {
  position: relative;
}
.icon i {
  color: black;
  font-size: 18px;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.icon img {
  width: 24px;
  height: 24px;
}

.icon .badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: black;
  color: white;
  font-size: 10px;

  border-radius: 50%;
}
.icon i:hover {
  color: #56cfe1;
}
.close-navbar {
  position: absolute;
  right: 20px;
  top: 15px;
  background: #004a90;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 22px;
  backdrop-filter: blur(11px);
  cursor: pointer;
}
.close-navbar:hover {
  background-color: #00c6ff;
}
.menu {
  display: none;
}
.hideNavbar {
  transform: translateX(-100%);
  visibility: hidden;
}
.showNavbar {
  transform: translateX(0%);
  display: block !important;
  visibility: visible;
}

@media (max-width: 24040px) and (min-width: 768px) {
  .md-nav-links {
    display: none;
  }
}
@media (max-width: 930px) {
  .md-nav-links {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    background: #1d787bd4;
    color: white !important;
    width: 100%;
    backdrop-filter: blur(2px);
    z-index: 999;
    transition: all 0.3s linear;
  }
  .menu {
    font-size: 26px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .md-nav-links ul {
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    padding: 15px 10px;
  }
  .logo h1 {
    font-size: 30px;
  }
  .nav-links {
    display: none;
  }
  .icons {
    gap: 12px;
  }
  .md-nav-links a {
    font-size: 20px;
  }
}
