<header class="navbar">
  <div class="menu" (click)="toggleNavbar()"><i class="bi bi-list"></i></div>
  <div class="logo animateLogo">
    <a routerLink="/">
      <h1>kalles</h1>
    </a>
  </div>
  <nav class="nav-links">
    <ul>
      <li id="navItem">
        <a routerLink="/shop">Shop <span class="badge new">New</span></a>
      </li>
      <li id="navItem"><a routerLink="/product">Product</a></li>
      <li id="navItem">
        <a routerLink="#">Sale <span class="badge sale">Sale</span></a>
      </li>
      <li id="navItem"><a routerLink="#">Pages</a></li>
      <li id="navItem"><a routerLink="#">Lookbook</a></li>
      <li id="navItem"><a routerLink="#">Blog</a></li>
      <li id="navItem"><a routerLink="#">Buy Theme</a></li>
    </ul>
  </nav>

  <nav
    class="md-nav-links"
    [ngClass]="isNavbarShown ? 'showNavbar ' : 'hideNavbar'"
  >
    <div class="close-navbar" (click)="toggleNavbar()">
      <i class="bi bi-x-lg"></i>
    </div>
    <ul (click)="toggleNavbar()">
      <li id="md-navItem">
        <a routerLink="/shop">Shop </a>
      </li>
      <li id="mdnavItem"><a routerLink="/product">Product</a></li>
      <li id="mdnavItem">
        <a routerLink="#">Sale </a>
      </li>
      <li id="mdnavItem"><a routerLink="#">Pages</a></li>
      <li id="mdnavItem"><a routerLink="#">Lookbook</a></li>
      <li id="mdnavItem"><a routerLink="#">Blog</a></li>
      <li id="mdnavItem"><a routerLink="#">Buy Theme</a></li>
    </ul>
  </nav>

  <div class="icons animateIcon">
    <a routerLink="#" class="icon search-icon">
      <i class="bi bi-search"></i>
    </a>
    <a routerLink="#" class="icon profile-icon"
      ><i class="bi bi-person"></i>
    </a>
    <a routerLink="#" class="icon wishlist-icon"
      ><i class="bi bi-heart"></i>
      <span class="badge">1</span>
    </a>
    <div class="icon cart-icon" (click)="this.GlobalService.toggleCartPopUP()">
      <i class="bi bi-cart3"></i>
      <span class="badge">{{ this.GlobalService.totalCartItemNumber}}</span>
    </div>
  </div>
</header>
<nav class="bottomNavigation">
  <div class="shop">
    <a routerLink="/shop">
      <i class="bi bi-bag"></i>
      <span>shop</span>
    </a>
  </div>
  <div class="shop">
    <a routerLink="/shop">
      <i class="bi bi-heart"></i>
      <span>wishlist</span>

      <span class="badge">1</span>
    </a>
  </div>
  <div class="shop">
    <a routerLink="/shop">
      <i class="bi bi-cart3"></i>

      <span class="badge">1</span>
      <span>cart</span>
    </a>
  </div>
  <div class="shop">
    <a routerLink="/shop">
      <i class="bi bi-person"></i>
      <span>account</span>
    </a>
  </div>
  <div class="shop">
    <a routerLink="/shop">
      <i class="bi bi-search"></i>
      <span>search</span>
    </a>
  </div>
</nav>
