.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: .3s linear;
}
.showPopup {
  transform: translate(0%);
  opacity: 1;
}
.hidePopup {
  transform: translate(-100%);
  opacity: 0;
}

.cart-pop-up{
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #00000066;
  top: 0;
  right: 0;
  z-index: 999;
  justify-content: end;
}