<div>
  <div style="width: 100vw; overflow:hidden;">

    <app-carousel />
  </div>

<div class="productCategory">
    <div class="products" id="card" style="width: 50%">
      <div class="img">
        <img
          src="https://demo-kalles-4-1.myshopify.com/cdn/shop/files/1_2a9471ff-024d-40f7-a4b3-a15a058ff334_2022-03-24.jpg?v=1652056987&width=600"
          alt=""
        />
      </div>
      <div class="button">
        <button>women</button>
      </div>
    </div>
    <div>

    <div id="card" style="display: flex; flex-direction: column; gap: 1vh; width: 25%">
      <div class="products"   style="position: relative; height: 50%">
        <div class="img">
          <img
            src="https://demo-kalles-4-1.myshopify.com/cdn/shop/files/2_2022-03-02.jpg?v=1652057671&width=400"
            alt=""
          />
        </div>
        <div class="button">
          <button>Accessories</button>
        </div>
      </div>
      <div class="products"  style="position: relative; height: 50%">
        <div class="img"> 
          <img
            src="https://demo-kalles-4-1.myshopify.com/cdn/shop/files/3_2022-03-02.jpg?v=1652057690&width=400"
            alt=""
          />
        </div>
        <div class="button">
          <button>footwear</button>
        </div>
      </div>
    </div>
    <div class="products" id="card" style="width: 25%">
      <div class="img">
        <img
          src="https://demo-kalles-4-1.myshopify.com/cdn/shop/files/4_f8612457-70c3-4a0f-b808-0f322a71741c_2022-03-02.jpg?v=1652057727&width=600"
          alt=""
        />
      </div>
      <div class="button"> 
        <button>watches</button>
      </div>
    </div>
  </div>

  </div> 
  <div style="width: 100vw; overflow-x:hidden;" >

    <app-trending  />
  </div>

  <div class="news">
    <div class="left">
      <div class="img">
        <img src="https://demo-kalles-4-1.myshopify.com/cdn/shop/files/5_2022-03-02.jpg?v=1652057918&width=600" alt="">
      </div>
      <div class="details">
        <h2>lookbook 2023</h2>
        <h3>make love this look</h3>
      </div>
    </div>
    <div class="right">
      <div class="img">
        <img src="https://demo-kalles-4-1.myshopify.com/cdn/shop/files/6_2022-03-02.jpg?v=1652057917&width=600" alt="">
      </div>
      <div class="details" >
        <h2>summer sale</h2>
        <h3>up to 70%</h3>
      </div>
    </div>
  </div>
 
  <div style="width: 100vw; overflow-x:hidden;">
    <app-best-seller/>
  </div> 
  </div>
